body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }

    .container {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
    }

    h1 {
      text-align: center;
      color: #000000;
      margin-top: 20px;
    }

    .profile {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      margin-top: 80px;
    }

    .profile img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      margin-right: 20px;
    }

    .profile .info {
      font-size: 18px;
    }

    .info p {
      margin: 5px 0;
    }

    .info p span {
      font-weight: bold;
    }

    .app-info {
      text-align: center;
    }

    .app-info p {
      margin: 5px 0;
    }

    #infoCard{
    margin-top:70px;
    width:110%;
    }

    #infoCard p{
        text-align:left;
    }
    #infoCard li{
            text-align:left;
        }


@import url(https://fonts.googleapis.com/css?family=Oswald:400);

.navigation {
  width: 100%;
  background-color: black;
}

img {
  width: 25px;
  border-radius: 50px;
  float: left;
}

.logout {
  font-size: .8em;
  font-family: 'Oswald', sans-serif;
	position: relative;
  right: -18px;
  bottom: -4px;
  overflow: hidden;
  letter-spacing: 3px;
  opacity: 0;
  transition: opacity .45s;
  -webkit-transition: opacity .35s;
  
}

.button {
	text-decoration: none;
	float: right;
  padding: 12px;
  padding-right: 15px;
  margin: 15px;
  color: black;
  width: 45px;
  background-color: white;
  border-color: black;
  transition: width .35s;
  -webkit-transition: width .35s;
  overflow: hidden
}

a:hover {
  width: 170px;
  cursor: pointer;
}

a:hover .logout{
  opacity: .9;
}

a {
  text-decoration: none;
}

